<section class="main-title">
  <h1>Tiempo de transferencia de un archivo en red</h1>
</section>

<form [formGroup]="form" autocomplete="off">
  <section class="details-form-container">
    <div class="size-file">
      <input type="number" placeholder="3000" formControlName="size" autofocus />
    </div>
    <div class="unit-name">
      <!-- <select formControlName="unit">
        <mat-form-field appearance="fill">
          <mat-label>Unidad</mat-label>
          <mat-select>
            <mat-option *ngFor="let item of units" [value]="food.value">
              {{food.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </select> -->
    </div>
    <div class="reset-container">
      <button type="button" (click)="reset()">&#x21BA;</button>
    </div>
  </section>
</form>

<section id="results">



  <table>
    <thead>
      <tr>
        <th rowspan="2"><span>Velocidad de<br>Conexión</span></th>
        <th colspan="4"><span>Tiempo Estimado</span></th>
      </tr>
      <tr>
        <th>Días</th>
        <th>Horas</th>
        <th>Minutos</th>
        <th>Segundos</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of speeds">
        <td>{{item.text}}</td>
        <td>{{toDays(item.value)}}</td>
        <td>{{toHours(item.value)}}</td>
        <td>{{toMinutes(item.value)}}</td>
        <td>{{toSeconds(item.value)}}</td>
      </tr>
    </tbody>
  </table>

</section>

<footer>
  <span>Desarrollado por <a href="http://github.com/edismr" target="_blank" rel="noopener noreferrer">@EdisMR</a></span>
</footer>
